@import url("./fonts.css");

/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Root Variables */

:root {
  --bodyColor: #f9fafb;
}

/* HTML */
html {
  font-size: 62.5%;
}

/* Body */
body {
  font-family: "Cinzel";
  /* background-color: var(--bodyColor); */
  background-color: #efefef;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* height: 100vh; */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.app__header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  flex: 0.1;
  padding-top: 2rem;
}

.app__logo-wrapper {
  display: flex;
  width: 7rem;
  justify-content: end;
  margin-bottom: -10px;
}

.app__title {
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937;
}

.app__logo {
  font-size: 2.5rem;
  color: #3730a3;
}

.app__horizontal-line {
  width: 100%;
  background-color: #fbbf24;
  height: 2px;
}

.app__books-section {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 100%;
  flex: 0.8;
}

.app__empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app__list-image-wrapper {
  height: 16.5rem;
}

.app__list-image {
  width: 100%;
  height: 100%;
}

.app__list-text-wrapper {
  font-size: 1.5rem;
  font-weight: bold;
}
